<h1>Agile Monitor</h1>
<% @projects.each do |project| %>
    <div class="project status <%#= project.current_status %>">
      <h2><%= project.name %></h2>
      <span>Last built: project.last_built </span>
    </div>
<% end %>

<% @buses.each do |bus| %>
    <div class="bus status">
      <h2><%= bus.name %></h2>
      <% bus.bus_times.each do |time| %>
          <h3><%= time.minutes %></h3>
      <% end %>
    </div>
<% end %>
